<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<section class="container mt-5">
    <div class="row section-profile mt-5">
        <div class="col-lg-5 col-md-12">
            <div class="profile-image" data-aos="fade-down"></div>
        </div>

        <div class="col-lg-7 col-md-12">
            <div class="introduction">
                <h3 class="jobs-title" data-aos="fade-left">Fullstack Web Developer</h3>
                <h1 class="name" data-aos="fade-left">Bayu Firmansyah</h1>
                <p class="description" data-aos="fade-left">
                    Hello everyone, I am Bayu Firmansyah, a senior web <br>
                    developer with 2 years of experience in web development. <br> 
                    I am currently an intern with an Indonesian company, <br> 
                    ICUBE by Sirclo, and work freelance at Fiverr. <br>
                    Contact me if you are interested in me.
                </p>

                <button class="btn-trigger btn-hire" data-aos="fade-left">Hire Me</button>
                <button class="btn-trigger btn-donwlod-cv" data-aos="fade-left">Donwload CV</button>
            </div>
        </div>
    </div>

    <div class="row section section-what-we-do">
        <div class="col-lg-12" data-aos="fade-right">
            <h2 class="section-title"> What We Do</h2>
        </div>

        <div class="col-lg-6">
            <div class="box-work" data-aos="fade-left">
                <div class="thumbnail-work">

                </div>

                <div class="desc-work">
                    <h4 class="title text-black">Web Development</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis corrupti error repellat. Vitae, porro vero.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-work" data-aos="fade-left">
                 <div class="thumbnail-work">
                    
                </div>

                <div class="desc-work">
                    <h4 class="title text-black">Maintenance</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis corrupti error repellat. Vitae, porro vero.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-work" data-aos="fade-left">
                <div class="thumbnail-work">
                    
                </div>

                <div class="desc-work">
                    <h4 class="title text-black">UI/UX Designer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis corrupti error repellat. Vitae, porro vero.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-work" data-aos="fade-left">
                <div class="thumbnail-work">
                    
                </div>

                <div class="desc-work">
                    <h4 class="title text-black">Consultant IT</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis corrupti error repellat. Vitae, porro vero.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row section section-what-we-do">
        <div class="col-lg-12" data-aos="fade-right">
            <h2 class="section-title">Portofolio</h2>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="box-portfolio" data-aos="fade-down">
                <div class="thumbnail-portfolio"></div>
                <div class="title">Chatty - App</div>
                <a href="">
                    <button class="btn-visit">Visit</button>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="box-portfolio" data-aos="fade-down">
                <div class="thumbnail-portfolio"></div>
                <div class="title">MauCafe - App</div>
                <a href="">
                    <button class="btn-visit">Visit</button>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="box-portfolio" data-aos="fade-down">
                <div class="thumbnail-portfolio"></div>
                <div class="title">Online Shop</div>
                <a href="">
                    <button class="btn-visit">Visit</button>
                </a>
            </div>
        </div>
    </div>
</section>


<%- include('../partials/footer') %>